.g {
	background-color: #ddd;
}

.w {
	background-color: #F8F5DF;
}

.b {
	background-color: #C3A480;
}

.h {
	background-color: #eec;
}

.t {
	background: white;
}

#PI {
	position: absolute;
	left: 100px;
	top: 20px;
}

#chessMoves {
	background: #EDEBDB;
	border: 0px;
	height: 304px;
}

.mainTable {
	margin-top: 10px;
	border-width: 5px;
	border-color: #CDB287;
	border-style: solid;
}
